
body {
	background-color: lightgrey;
	margin-left:  90px;
	margin-right: 90px;
	margin-top: 20px;

}
.img_left {
	float: left;
}
#menu {
	float: right;
	margin-top: 50px;
}
#menu li {
    display: inline;
    text-decoration: none;
    padding: 20px;
}
li {
	font-family: sans-serif;
}
a {color: #fff; text-decoration:none
}
a:hover   {color:#ff0000; background-color:transparent; text-decoration:none
}
a:active  {color:white; background-color:transparent; text-decoration:none
}

